.bg-pink{
    background: #FCEAE8;
}

.buy-now-btn{
    color: #f0f8ff;
    background: linear-gradient(to bottom,
    #FF589B,
    #FF136F 
     );
     text-decoration: none;
     transition: border-radius .3s ease-in-out,
                color .3s ease-in-out;
     border-radius: .375rem;
}
.buy-now-btn:hover{
    border-radius: 15px;
    background: linear-gradient(-45deg,
    #FF589B,
    #FF136F 
    );
    color: #d1d1d1;
}

.categories img{
    width: 100px;
}

.categories-items{
    box-shadow: 0 2px 30px -10px;
}